

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro';
    background-color: #0f0f0f;
}

.container {
    height: 100%;
}

.questionAnswerContainer {
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.questionAnswerContainer .row {
    width: 100%;
}


.difficulty {
	padding: 1em;
}

.tick {
    font-size: 6em;
    color: green;
    display: none;
    animation-duration: 0.4s;
    z-index: 1;
}

.scoreText, .answerBase {
	color: #1ec503;
}

.answerBase {
	margin: 1em 0;
}


@media (min-width: 768px) {
	.difficulty-score {
		position: absolute;
		width: inherit;
	}

	.randomNumber {
    	font-size: 6em;
	}

	.answerBase {
		font-size: 1.25em;
	}
}

@media (max-width: 767px) {
	.difficulty-score {
		position: absolute;
		width: 100%;
	}
}